<%
  /*
   * Check if assets array is not empty.
   */
  function check(assets) {
    return assets && assets.length;
  }

  /*
   * Build html links for the css inclusion.
   */
  function css(assets) {
    return assets.reduce(function(m, src) {
      return m + '  <link rel="stylesheet" href="' + src + '"/>\n';
    }, '')
  }

  /*
   * Build lesscss code for the less files inclusion.
   * Only for the development envaironment.
   */
  function less(assets) {
    return assets.reduce(function(m, src) {
      return m + '    @import "' + src + '";\n';
    }, '')
  }

  /*
   * Returns corresponding image src from the images map.
   * Only for the production envaironment.
   */
  function img(src) {
    return images && images[src] || src;
  }
-%>
<!doctype html>
<html <% if (locals.lang) { %>lang="<%= lang %>"<% } %>>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <% if (locals.pageDescr) { %><meta name="description" content="<%=: pageDescr | capitalize %>" /><% } %>
  <% if (locals.pageTitle) { %><title><%=: pageTitle | capitalize %></title><% } %>

  <!-- for Google -->
  <!--
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="copyright" content="" />
  <meta name="author" content="" />
  -->

  <!-- for Facebook -->
  <!--
  <meta property="og:title" content="" />
  <meta property="og:type" content="" />
  <meta property="og:image" content="" />
  <meta property="og:url" content="" />
  <meta property="og:description" content="" />
  -->

  <!-- for Twitter -->
  <!--
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="" />
  <meta name="twitter:description" content="" />
  <meta name="twitter:image" content="" />
  -->
  
  <!--
  <link rel="icon" href="favicon.ico"/>

  <meta name="apple-mobile-web-app-title" content="title"/>
  <meta name="apple-itunes-app" content="app-id=[app-id]"/>

  <link rel="apple-touch-icon" sizes="144x144" href="apple-touch-icon-144x144.png"/>
  <link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png"/>
  <link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png"/>
  <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-57x57.png"/>
  -->

<% if (production) { -%>
  <!-- PRODUCTION STATE -->
<% if (assets.cmn.css) { %>
<% if (assets.cmn.css.base) { -%>
  <link rel="stylesheet" href="<%=host%>/<%=assets.cmn.css.base%>"/>
<% } -%>
<% if (assets.cmn.css.ie7) { -%>
  <!--[if IE 7]>
  <link rel="stylesheet" href="<%=host%>/<%=assets.cmn.css.ie7%>"/>
  <![endif]-->
<% } -%>
<% if (assets.cmn.css.ie8) { -%>
  <!--[if IE 8]>
  <link rel="stylesheet" href="<%=host%>/<%=assets.cmn.css.ie8%>"/>
  <![endif]-->
<% } -%>
<% if (assets.cmn.css.ie9) { -%>
  <!--[if IE 9]>
  <link rel="stylesheet" href="<%=host%>/<%=assets.cmn.css.ie9%>"/>
  <![endif]-->
<% } -%>
<% } -%>
<% if (assets[page].css) { -%>
<% if (assets[page].css.base) { -%>
  <link rel="stylesheet" href="<%=host%>/<%=assets[page].css.base%>"/>
<% } -%>
<% if (assets[page].css.ie7) { -%>
  <!--[if IE 7]>
  <link rel="stylesheet" href="<%=host%>/<%=assets[page].css.ie7%>"/>
  <![endif]-->
<% } -%>
<% if (assets[page].css.ie8) { -%>
  <!--[if IE 8]>
  <link rel="stylesheet" href="<%=host%>/<%=assets[page].css.ie8%>"/>
  <![endif]-->
<% } -%>
<% if (assets[page].css.ie9) { -%>
  <!--[if IE 9]>
  <link rel="stylesheet" href="<%=host%>/<%=assets[page].css.ie9%>"/>
  <![endif]-->
<% } -%>
<% } -%>
<% } else { -%>
  <!-- DEVELOPMENT STATE -->
<% if (check(assets.cmn.css_base)) { -%>
  <!-- css cmn base -->
<%- css(assets.cmn.css_base) -%>
<% } -%>
<% if (check(assets.page.css_base)) { -%>
  <!-- css page base -->
<%- css(assets.page.css_base) -%>
<% } -%>
<% if (check(assets.cmn.less_base) || check(assets.page.less_base)) { -%>
  <style type="text/less">
<% if (check(assets.cmn.includes)) { -%>
    /* less cmn includes */
<%- less(assets.cmn.includes) -%>
<% } -%>
<% if (check(assets.cmn.less_base)) { -%>
   /* less cmn base */
<%- less(assets.cmn.less_base) -%>
<% } -%>
<% if (check(assets.page.less_base)) { -%>
    /* less page base */
<%- less(assets.page.less_base) -%>
<% } -%>
  </style>
<% } -%>
<% if (check(assets.cmn.less_ie7) || check(assets.page.less_ie7)) { -%>
  <!--[if IE 7]>
  <style type="text/less">
<% if (check(assets.cmn.includes)) { -%>
    /* less cmn includes */
<%- less(assets.cmn.includes) -%>
<% } -%>
<% if (check(assets.cmn.less_ie7)) { -%>
    /* less cmn ie7 */
<%- less(assets.cmn.less_ie7) -%>
<% } -%>
<% if (check(assets.page.less_ie7)) { -%>
    /* less page ie7 */
<%- less(assets.page.less_ie7) -%>
<% } -%>
  </style>
  <![endif]-->
<% } -%>
<% if (check(assets.cmn.less_ie8) || check(assets.page.less_ie8)) { -%>
  <!--[if IE 8]>
  <style type="text/less">
<% if (check(assets.cmn.includes)) { -%>
    /* less cmn includes */
<%- less(assets.cmn.includes) -%>
<% } -%>
<% if (check(assets.cmn.less_ie8)) { -%>
    /* less cmn ie8 */
<%- less(assets.cmn.less_ie8) -%>
<% } -%>
<% if (check(assets.page.less_ie8)) { -%>
    /* less page ie8 */
<%- less(assets.page.less_ie8) -%>
<% } -%>
  </style>
  <![endif]-->
<% } -%>
<% if (check(assets.cmn.less_ie9) || check(assets.page.less_ie9)) { -%>
  <!--[if IE 9]>
  <style type="text/less">
<% if (check(assets.cmn.includes)) { -%>
    /* less cmn includes */
<%- less(assets.cmn.includes) -%>
<% } -%>
<% if (check(assets.cmn.less_ie9)) { -%>
    /* less cmn ie9 */
<%- less(assets.cmn.less_ie9) -%>
<% } -%>
<% if (check(assets.page.less_ie9)) { -%>
    /* less page ie9 */
<%- less(assets.page.less_ie9) -%>
<% } -%>
  </style>
  <![endif]-->
<% } -%>
<% } -%>
</head>
<body>