<%
  function check(assets) {
    return assets && assets.length;
  }
  function js(assets) {
    return assets.reduce(function(m, src) {
      return m + '  <script src="' + src + '"></script>\n';
    }, '')
  }
-%>
<% if (production) { -%>
  <!-- PRODUCTION STATE -->
<% if (assets.cmn.js && assets.cmn.js.base) { -%>
  <script src="<%=host%>/<%=assets.cmn.js.base%>"></script>
<% } -%>
<% if (assets.cmn.js && assets.cmn.js.ie7) { -%>
  <!--[if IE 7]>
  <script src="<%=host%>/<%=assets.cmn.js.ie7%>"></script>
  <![endif]-->
<% } -%>
<% if (assets.cmn.js && assets.cmn.js.ie8) { -%>
  <!--[if IE 8]>
  <script src="<%=host%>/<%=assets.cmn.js.ie8%>"></script>
  <![endif]-->
<% } -%>
<% if (assets.cmn.js && assets.cmn.js.ie9) { -%>
  <!--[if IE 9]>
  <script src="<%=host%>/<%=assets.cmn.js.ie9%>"></script>
  <![endif]-->
<% } -%>
<% if (assets[page].js && assets[page].js.base) { -%>
  <script src="<%=host%>/<%=assets[page].js.base%>"></script>
<% } -%>
<% if (assets[page].js && assets[page].js.ie7) { -%>
  <!--[if IE 7]>
  <script src="<%=host%>/<%=assets[page].js.ie7%>"></script>
  <![endif]-->
<% } -%>
<% if (assets[page].js && assets[page].js.ie8) { -%>
  <!--[if IE 8]>
  <script src="<%=host%>/<%=assets[page].js.ie8%>"></script>
  <![endif]-->
<% } -%>
<% if (assets[page].js && assets[page].js.ie9) { -%>
  <!--[if IE 9]>
  <script src="<%=host%>/<%=assets[page].js.ie9%>"></script>
  <![endif]-->
<% } -%>
<% } else { -%>
  <!-- DEVELOPMENT STATE -->
  <!-- js for the development env -->
  <script>
    window.less = {
      env: 'development'
    , relativeUrls: <%= config.LESS_RELATIVE_URLS %>
    , rootpath: <%= config.LESS_ROOTPATH %>
    };
  </script>
  <script src="/js/libs/sock.js"></script>
  <script src="/js/libs/less.js"></script>
<% if (config.WATCH) { -%>
  <script src="/js/libs/watch.js"></script>
<% } %>
<% if (check(assets.cmn.js_base)) { -%>
  <!-- js cmn base -->
<%- js(assets.cmn.js_base) -%>
<% } -%>
<% if (check(assets.page.js_base)) { -%>
  <!-- js page base -->
<%- js(assets.page.js_base) -%>
<% } -%>
<% if (check(assets.cmn.js_ie7) || check(assets.page.js_ie7)) { -%>
  <!--[if IE 7]>
<% if (check(assets.cmn.js_ie7)) { -%>
  <%- js(assets.cmn.js_ie7) -%>
<% } -%>
<% if (check(assets.page.js_ie7)) { -%>
<%- js(assets.page.js_ie7) -%>
<% } -%>
  <![endif]-->
<% } -%>
<% if (check(assets.cmn.js_ie8) || check(assets.page.js_ie8)) { -%>
  <!--[if IE 8]>
<% if (check(assets.cmn.js_ie8)) { -%>
<%- js(assets.cmn.js_ie8) -%>
<% } -%>
<% if (check(assets.page.js_ie8)) { -%>
<%- js(assets.page.js_ie8) -%>
<% } -%>
  <![endif]-->
<% } -%>
<% if (check(assets.cmn.js_ie9) || check(assets.page.js_ie9)) { -%>
  <!--[if IE 9]>
<% if (check(assets.cmn.js_ie9)) { -%>
<%- js(assets.cmn.js_ie9) -%>
<% } -%>
<% if (check(assets.page.js_ie9)) { -%>
<%- js(assets.page.js_ie9) -%>
<% } -%>
  <![endif]-->
<% } -%>
<% } -%>
</body>
</html>